@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #06071b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  scroll-margin-top: 45px; /* Igual a la altura del navbar */
}

#skills {
  scroll-margin-top: 5px; /* Igual a la altura del navbar */
}

#contact {
  scroll-margin-top: 5px; /* Igual a la altura del navbar */
}
